/* Responsive styles */

/* For tablets and smaller laptops */
@media (max-width: 768px) {
  .container {
    width: 90%;
    min-height: 600px;
  }

  .overlay {
    width: 300%;
    left: -100%;
  }

  .container.right-panel-active .overlay {
    transform: translateX(33.33%);
  }

  .overlay-panel {
    padding: 0 20px;
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    width: 100%;
    min-height: 600px;
    border-radius: 0;
  }

  .form-container,
  .sign-in-container,
  .sign-up-container,
  .overlay-container,
  .overlay {
    width: 100%;
    left: 0;
  }

  .form-container {
    position: relative;
  }

  .overlay {
    display: none;
  }

  form {
    padding: 0 20px;
  }

  button {
    padding: 10px 30px;
    font-size: 13px;
  }
}
